.button-primary{margin-bottom:1;margin-top:10;margin-left:25;margin-right:25;background-color:#f70025;color:#f7efe2;border-radius:50px;height:60;font-weight:bold}.button-secound{margin-bottom:1;margin-top:10;margin-left:25;margin-right:25;background-color:#f25c00;color:#f7efe2;border-radius:50px;height:60;font-weight:bold}.fa{font-family:FontAwesome, 'fontawesome-webfont'}
ActionBar {
    background-color: #f9a603;
    color: #color:#000;
}Page{background-color:#f7efe2}
